@import "tailwindcss";

@config "../tailwind-config.ts";

@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #290036; */
  @apply bg-emerald-800;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

li {
  margin-left: 25px;
  list-style-type: circle;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.75em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #38013d; */
  @apply bg-emerald-900;
  cursor: pointer;
  vertical-align: middle;
  transition: border-color 0.25s;
}
button.ghost {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.75em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #38013d; */
  @apply bg-transparent;
  cursor: pointer;
  vertical-align: middle;
  transition: border-color 0.25s;
}
button:hover {
  @apply border-emerald-500;
}
button:focus,
button:focus-visible,
button:active {
  outline: 2px solid;
  @apply outline-emerald-400;
}

.header-bg {
  border-bottom: 1px solid;
  @apply border-b-emerald-600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.carousel {
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  box-sizing: content-box;
  display: flex;
  flex: none;
  scroll-snap-align: start;
}
.carousel-start .carousel-item {
  scroll-snap-align: start;
}
.carousel-center .carousel-item {
  scroll-snap-align: center;
}
.carousel-end .carousel-item {
  scroll-snap-align: end;
}
